#book-list {
  padding: 0;
  list-style: none;
}

.book-item {
  height: 500px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  border: 0px solid #000000;
}

.book-item div {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  border: 0px solid #000000;
}

.book-item div h4 {
  font-size: 1.5em;
  margin: 0;
}

.book-item div h5 {
  font-size: 1.25em;
  font-style: italic;
  margin: 0;
}

.book-item div .button {
  background-color: white;
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  float: right;
}

.book-item div .button:hover {
  background-color: #ccc;
}

.nav-ul {
  display: none;
}

.hamburger {
  display: block;
  float: right;
  color: #F7ECE1;
  font-size: 2em;
  margin-top: -100px;
  margin-right: 10px;
  padding: 50px;
}

.nav-ul li {
  display: block;
  background-color: #031926;
}

.view-book, .add-book {
  color: #F7ECE1;
  text-decoration: none;
  margin-left: 20px;
}

 nav:hover .nav-ul {
  display: block;
} 
li {
  font-size: 1.5rem;
  letter-spacing: normal;
  list-style-type: none;
  display: inline-block;
  padding: 1%;
  color: #F7ECE1;
  font-family: 'Didact Gothic', sans-serif;
}

.icon-github1:before {
  font-family:'icomoon';
  content: "\eab0";
}

.icon-linkedin2:before {
  font-family:'icomoon';
  content: "\eac9";
}



/* Add book module */
.book-add input, .book-add textarea {
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}