#book-list {
  padding: 0;
  list-style: none;
}

.book-item {
  height: 500px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  border: 0px solid #000000;
}

.book-item div {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  border: 0px solid #000000;
}

.book-item div h4 {
  font-size: 1.5em;
  margin: 0;
}

.book-item div h5 {
  font-size: 1.25em;
  font-style: italic;
  margin: 0;
}

.button {
  background-color: white;
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.book-item div .button {
  float: right;
}

.button:hover {
  background-color: #ccc;
}

/* Navigation module */
header {
  position: relative;
}
.nav-ul {
  display: none;
  background-color: #031926;
  position: absolute;
  z-index: 1;
}

.hamburger {
  display: block;
  float: right;
  color: #F7ECE1;
  font-size: 40px;
  margin-top: -70px;
  padding-right: 10px;
  height: 78px;
  padding-left: 50px;
  /* background-color: yellow; */
}

.nav-ul li a {
  display: block;
  width: 100%;
  color: #F7ECE1;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 20px ;
  font-family: 'Didact Gothic', sans-serif;
  background-color:#9DBEBB;
}

.nav-ul li a:hover {
  background-color: #468189;
}

 nav:hover .nav-ul {
  display: block;
  top: 100px;
  left: 0;
  width: 100%;
} 

.icon-github1:before {
  font-family:'icomoon';
  content: "\eab0";
}

.icon-linkedin2:before {
  font-family:'icomoon';
  content: "\eac9";
}



/* Add book module */
.book-add input, .book-add textarea, 
.book-update input, .book-update textarea 
.book-update, .book-update delete{
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}

footer span {
  font-size: 45px;
}

footer div {
  padding-top: 30px;
  float: right;
  margin-right: 20px;
}